<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Votação</title>
    <style>
        .progress-bar {
            background-color: #4CAF50;
            height: 24px;
            color: white;
            text-align: center;
            line-height: 24px;
        }
    </style>
</head>
<body>
    <h1>Vote no seu candidato favorito</h1>
    <form action="/votar" method="post">
        <ul>
            <li th:each="candidato : ${candidatos}">
                <input type="radio" th:value="${candidato.id}" name="candidatoId" th:text="${candidato.nome}" />
            </li>
        </ul>
        <button type="submit">Votar</button>
    </form>

    <h2>Resultados:</h2>
    <div th:each="entry : ${votosPorCandidato}">
        <p>
            <span th:text="${entry.key.nome}"></span>:
            <span th:text="${entry.value}"></span> votos
            <div class="progress-bar" th:style="'width:' + (${entry.value} * 100 / ${totalVotos}) + '%'">
                <span th:text="${entry.value}"></span>
            </div>
        </p>
    </div>
</body>
</html>
